export TERM="screen-256color"
export TERMINAL="xfce4-terminal"
export EDITOR="{{ desktop_user.default_editor }}"

# PREPATH config:

# PATH config:

PATH="$HOME/bin:$HOME/.local/bin:$PATH"
export PATH

# POSTPATH config:
