export TERM="screen-256color"
export TERMINAL="gnome-terminal"
export EDITOR="{{ desktop_user.default_editor }}"
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=lcd'

# PREPATH config:

# PATH config:

PATH="$HOME/bin:$HOME/.local/bin:$PATH"
export PATH

# POSTPATH config:
