# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
export ZSH_CUSTOM="$HOME/.zsh"
# Skip out of any initialization in dumb terminals. Otherwise can not SSH to machines running this with Tramp
[[ $TERM == "dumb" ]] && unsetopt zle && PS1='$ ' && return
setopt autocd nomatch
bindkey -e

# Add local home directory to fpath
fpath=( "$HOME/.zfunctions" $fpath )

if [ -d "$HOME/.zcompletions/src" ]; then
  fpath=( "$HOME/.zcompletions/src" $fpath )
fi

zstyle ':completion:*' auto-description 'specify: %d'
zstyle ':completion:*' completer _expand _complete _correct _approximate
zstyle ':completion:*' format 'Completing %d'
zstyle ':completion:*' group-name ''
zstyle ':completion:*' menu select=2 eval "$(dircolors -b)"
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' list-colors ''
zstyle ':completion:*' list-prompt %SAt %p: Hit TAB for more, or the character to insert%s
zstyle ':completion:*' matcher-list '' 'm:{a-z}={A-Z}' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=* l:|=*'
zstyle ':completion:*' menu select=long
zstyle ':completion:*' select-prompt %SScrolling active: current selection at %p%s
zstyle ':completion:*' use-compctl false
zstyle ':completion:*' verbose true

zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31'
zstyle ':completion:*:kill:*' command 'ps -u $USER -o pid,%cpu,tty,cputime,cmd'

# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename "$HOME/.zshrc"

autoload -Uz compinit
compinit

autoload -U edit-command-line
zle -N edit-command-line

bindkey '^xe' edit-command-line
bindkey '^x^e' edit-command-line

if [ -f ~/.aliases ]; then
  source ~/.aliases
fi

if [ -f ~/.zsh/ssh-agent.zsh ]; then
  source ~/.zsh/ssh-agent.zsh
fi

function reset-gpg-card {
  killall -9 ssh-agent gpg-agent
  for keystub in $(gpg --with-keygrip --list-secret-keys '{{ desktop_user.email }}' | grep Keygrip | awk '{print $3}'); do
    rm "/home/{{ desktop_user.username }}/.gnupg/private-keys-v1.d/$keystub.key";
  done;
  gpg --card-status
  eval $(gpg --launch gpg-agent)
}

# ZSHRC FOOTER
if command -v kubectl &> /dev/null; then
  source <(kubectl completion zsh)
  complete -F __start_kubectl k
fi
