---

- name: Setup COPR for Mise
  community.general.copr:
    name: jdxcode/mise
    state: enabled
  when: ansible_os_family in ["RedHat"]

- name: Install mise
  package:
    name: mise
    state: present

- name: Setup mise in the shell configuration
  become: true
  become_user: "{{ desktop_user.username }}"
  blockinfile:
    dest: ~/.zshrc
    block: |
      eval '$(mise activate zsh)'
    insertafter: "# ZSHRC FOOTER"

- name: Setup mise in the shell configuration
  become: true
  become_user: "{{ desktop_user.username }}"
  blockinfile:
    dest: "~/.config/fish/config.fish"
    block: |
      'mise activate fish | source'
    insertafter: "# FISH INTERACTIVE FOOTER"
