---

- name: Install spacemacs required packages
  become: yes
  become_user: "{{ desktop_user.username }}"
  shell: "source ~/.zshrc; go install {{ item }}"
  args:
    executable: "{{ ZSH_BIN }}"
  with_items:
    - "github.com/nsf/gocode@latest"
    - "github.com/rogpeppe/godef@latest"
    - "golang.org/x/tools/cmd/guru@latest"
    - "golang.org/x/tools/cmd/gorename@latest"
    - "golang.org/x/tools/cmd/goimports@latest"
    - "golang.org/x/tools/gopls@latest"
    - "github.com/go-delve/delve/cmd/dlv@latest"
    - "github.com/cweill/gotests/...@latest"
