---

- name: Install the sway window manager
  package:
    name:
      - azote
      - blueman
      - brightnessctl
      - fuzzel
      - gammastep
      - kanshi
      - mako
      - network-manager-applet
      - nwg-panel
      - nwg-launchers
      - polkit-gnome
      - slurp
      - swappy
      - sway
      - waybar
      - wl-clipboard
      - wofi
    state: present

- name: Create the sway & waybar configuration folder
  become: yes
  become_user: "{{ desktop_user.username }}"
  file:
    dest: "{{ item }}"
    state: directory
    owner: "{{ desktop_user.username }}"
  with_items:
    - "~/.config/sway"
    - "~/.config/sway/config.d"
    - "~/.config/sway/scripts"
    - "~/.config/waybar"

- name: Copy over the sway configuration
  become: yes
  become_user: "{{ desktop_user.username }}"
  copy:
    src: "{{ item }}"
    dest: "~/.config/sway/{{ item }}"
    owner: "{{ desktop_user.username }}"
    mode: 0644
  with_items:
    - "config"
    - "config.d/application_defaults"
    - "config.d/autostart_applications"
    - "config.d/cheatsheet_hint"
    - "config.d/clamshell"
    - "config.d/default"
    - "config.d/input"
    - "config.d/output"
    - "config.d/swayfx"
    - "config.d/theme"

- name: Copy over scripts
  become: yes
  become_user: "{{ desktop_user.username }}"
  copy:
    src: "{{ item }}"
    dest: "~/.config/sway/{{ item }}"
    owner: "{{ desktop_user.username }}"
    mode: 0755
  with_items:
    - scripts/advance_workspace.sh
    - scripts/cheatsheet_hint.sh
    - scripts/clamshell.sh
    - scripts/hidpi_1.5.sh
    - scripts/import-gsettings
    - scripts/lockman.sh
    - scripts/screenshot_display.sh
    - scripts/screenshot_window.sh
    - scripts/swayfader.py
    - scripts/sway_waybar.sh
    - scripts/vrr_fullscreen.sh

- name: Copy over the waybar configuration
  become: yes
  become_user: "{{ desktop_user.username }}"
  copy:
    src: "waybar-sway.conf"
    dest: "~/.config/waybar/"
    owner: "{{ desktop_user.username }}"
    mode: 0644
